.storycard-container {
    width: 250px;
    height: 250px;
    border: 5px solid yellow;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
    transition: all 200ms ease-in-out;
}

.storycard-container:hover {
    transform: scale(105%);
}

.storycard-container h2 {
    color: yellow;
}