.landing-container {
    background-color: var(--primary-color);
    color: var(--primary-text-color);
}

.landing-container button {
    background-color: var(--secondary-btn-color);
    color: var(--primary-text-color);
}