.herocard-container {
    width: 250px;
    height: 250px;
    border: 5px solid var(--green-color);
    border-radius: 5px;
    cursor: pointer;
    transition: all 200ms ease-in-out;
    padding: 10px;
    margin: 10px;
    position: relative;
}

.herocard-container:hover {
    transform: scale(105%);
}

.heroinfo-container {
    width: 250px;
    height: 250px;
    border: 5px solid #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: all 200ms ease-in-out;
    padding: 10px;
    margin: 10px;
}

.heroinfo-container:hover {
    transform: scale(105%);
}

.heroinfo-item-container {
    max-height: 160px;
    overflow-y: auto;
}


.herocard-container h2 {
    margin: 5px;
    color: var(--green-color);
}

.hero-stats-container {
    padding: auto;
}

.hero-stats-container p {
    width: 45%;
    margin: 5px;
    text-align: start;
}

.hero-info-equip-btn {
    background-color: transparent;
    color: var(--primary-text-color);
    border: 2px solid #fff;
    padding: 5px 10px;
}

/* hero equip modal */
.hero-equip-modal-container {
    background-color: #fff;
    color: var(--secondary-text-color);
    width: 100%;
    min-height: 100%;
    position: absolute;
    padding: 10px 5px;
}

.hero-equip-modal-container p {
    background-color: var(--common-item);
    width: 90%;
    padding: 10px;
    margin: 1px;
}

.hero-equip-btn {
    width: fit-content;
    background-color: red;
    color: var(--primary-text-color);
}