.tavern-container {
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
    color: var(--primary-text-color);
}

.tavern-container > h2 {
    color: orange;
}

.tavern-rest-btn {
    background-color: orange;
    color: var(--primary-text-color);
    margin: 10px;
}