.newStart-container {
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    position: relative;
}

.newStart-hero-container {
    border: 4px solid var(--primary-btn-color);
}

.newStart-hero-container h2 {
    width: 100%;
}

.newStart-continue-container {
    min-height: 175px;
}

.create-party-link {
    border: 1px solid var(--secondary-color);
    border-radius: 3px;
    padding: 5px 10px;
    margin: 5px;
}