.combat-container {
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
    color: var(--primary-text-color);
    position: relative;
    background-size: cover;
    background-position: center;
}

.enemy-battle-container {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    flex-grow: 1;
}

.hero-control-bar {
    width: 90%;
    max-width: 800px;
    min-height: 100px;
    background-color: var(--common-item);
    color: var(--secondary-text-color);
    padding: 15px;
    margin: 15px;
    position: absolute;
    bottom: 0;
    justify-content: space-between;
    border-radius: 15px;
}

.combat-attack-btn {
    background-color: var(--secondary-btn-color);
    color: var(--primary-text-color);
    box-shadow: 0 0 5px #000;
}   

.combat-item-btn {
    background-color: var(--green-color);
    color: var(--primary-text-color);
    box-shadow: 0 0 5px #000;
}

.combat-s-attack-btn {
    background-color: var(--primary-btn-color);
    color: var(--primary-text-color);
}

.combat-d-attack-btn {
    background-color: var(--green-color);
    color: var(--primary-text-color);
}

.combat-magic-btn {
    background-color: var(--epic-item);
    color: var(--primary-text-color);
    box-shadow: 0 0 5px #000;
}

.combat-defend-btn {
    background-color: var(--primary-btn-color);
    color: var(--primary-text-color);
    box-shadow: 0 0 5px #000;
}

.enemy-info-container {
    margin-top: 100px;
    width: fit-content;
    height: 100%;
}

.flee-btn {
    margin: 15px;
}

.flee-btn > h2 {
    margin: 10px;
}

.enemy-img {
    width: 150px;
    height: 150px;
    border-radius: 150px;
    background-color: #fff;
}

.hp-guage {
    background-color: red;
    height: 20px;
}

.hp-fill {
    background-color: var(--green-color);
    height: 100%;
    transition: all 200ms ease-in;
}

.combat-hero-stats {
    text-align: start;
    margin-left: 15px;
    border: 1px solid #000;
    border-radius: 5px;
    padding: 5px;
}

.combat-hero-container {
    margin: 10px 0;
}