* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#root {
  min-width: 100vw;
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: var(--primary-text-color);
  margin: 5px;
}

button {
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
}

/* css variables */
* {
  --primary-color: #333;
  --primary-btn-color: blue;
  --primary-text-color: #fff;

  --secondary-color: #f2f3f4;
  --secondary-btn-color: red;
  --secondary-text-color: #000;
}

/* highly used css styles */
.flex {
  display: flex;
}

.flex-justify-center {
  display: flex;
  justify-content: center;
}

.flex-align-center {
  display: flex;
  align-items: center;
}

.flex-center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.column {
  flex-direction: column;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.wrap {
  flex-wrap: wrap;
}

.min-width-100 {
  width: 100vw;
}

.min-height-100 {
  height: 100vh;
}

.text-center {
  text-align: center;
}